

#search-input-mobile{
    background-color: #002d72;
    color: white;
}
.m-input__icon--left{
    color: white !important;
}

a{
    text-decoration: none;
    color: white;
}
#search-input-mobile + button {
    color:white;
}

input .internal-autofill-selected {
    color:blue;
}

.link-header{
    margin-left:10px !important;
}

.link-header:hover{
    color:white !important;
}


