.log-in{
  margin: 8px;
}
@lightblue-color: #add8e6;
@lightblue-color-shadow: lighten(@lightblue-color, 10%);

.user-avatar {
  color: white;
  background-color: @lightblue-color;
}

.user-avatar-shadow{
  box-shadow: 0 0 19px 8px @lightblue-color-shadow;
}

.user-avatar-big{
  width: 15vh;
  height: 15vh;
  line-height: 15vh;
  font-size:4vh;
  margin-bottom: 4vh;
  margin-top: 2vh;
}

.user-avatar-mini{
  width: 5vh;
  height: 5vh;
  line-height: 5vh;
  font-size:1.5vh;
  margin-bottom: 1vh;
  margin-top: 2vh;
}
